// Global variables
// Module-specific variables
// are bundled with the module

// Breakpoints
$breakpoint-larger-than-tablet: "min-width: 750px";
$breakpoint-small: 320px;
$breakpoint-medium: 620px;
$breakpoint-large: 768px;
$breakpoint-xlarge: 1000px;
$breakpoint-xxlarge: 1224px;

// Sizing and Spacing
$width-100: 100%;
$width-50: ($width-100 / 2);
$width-25: ($width-100 / 4);
$width-75: ($width-100 * 3)/4;
$width-66: ($width-100 * 2)/3;
$width-33: ($width-100 * 2)/6;

$spacing-1x: 1rem;
$spacing-2x: $spacing-1x * 2;

// Colors
$color-black: #040101;
//$color-black: #D3313E;
$color-white: #ffffff;
$color-gray: #e0e0e0;
$color-red: #D3313E;
$color-darkred: #432128;
$color-yellow: #D59E0F;
$color-accent: #A90000;
$color-text: #111;
$color-text-white: $color-white;
$color-link: $color-gray;

// Font Stack
$font-primary: "Roboto", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;